
* {
  margin: 0;
  padding: 0;
}
body{
    
    background-color: #fcfcfc;
    transition: background-color 1s ease;
    /* line-height: 1.6; */
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}
html {
  scroll-behavior: smooth;
}
.header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  /* padding-right: 20px; */
  /* position: fixed; */
  width: 100%;
  height: fit-content;
  gap: 73%;
}
.menu {
  padding-top: 37px;
  display: flex;
  font-size: 24px;
  gap: 8px;
  position: relative;
  top: -38px;
  align-items: center;
  cursor: pointer;
}

.title {
    font-size: 104px;
    display: flex;
    flex-direction: column;
    height: 68vh;
    padding-left: 194px;
    justify-content: flex-end;
    float: none;
    flex-shrink: 1;
    padding-bottom: 30vh;
    width: 100%;
    transition:0.5sec;
    margin-top: 90px;
    transform-origin:top;
    transform:scaleX(1);
    cursor:context-menu;
}
.bannertitle{
  position: relative;
  opacity: 1;
  margin-top: 68px;
  font-size: 104px;
}
.branding {
  color: gray;
  transition:0.5sec;
  transform-origin:top;
  transform:scaleX(1)
}
.development {
  color: rgb(182, 180, 180);
  transition:1.5sec;
  transform-origin:top;
  transform:scaleX(1)
}
.hifen {
  color: #fd5a1e;
  font-size: 180px;
  display: flex;
  transform: rotate(343deg);
  top: -38px;
  position: relative;
  /* transition:0.5sec;
  transform-origin:top;
  transform:scaleX(1) */
}
.Marketing {
  display: flex;
  transition:0.5sec;
  transform-origin:top;
  transform:scaleX(1)
}
.cointainers {
    max-width: 1000px;
    display: flex;
    width: 100%;
    /* height: 100vh; */
    flex-wrap: wrap;
    gap: 44px;
    height: fit-content;
    padding-left: 40px;
    margin: -15px 259px;
    padding-top: 71vh;
}
.image {
    transition: transform 0.5s;
    cursor: pointer;
  }
  
  .image:hover {
    transform: rotateX(20deg) rotateY(-20deg)scale(1.0);
  }
/* .imageCard{
    transform-style: preserve-3d;
    flex-wrap: wrap;
} */
.text{
    height: 100vh;
    width:100%;
    }
.panel{
    display: flex;

  height: fit-content;
  display: flex;
  align-items: center;

}

.color-white{
    background: #fff;
 }
.color-black{
   background: #000;
}

  
  .moreButton {
    position: relative;
    width: 116px;
    height: 116px;
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    border-radius: 50%;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .buttonText {
    position: fixed;
    display: flex;
    width: 100%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
  }
  .text .char {
    display: inline-block;
    -webkit-animation-delay: calc(0.25s + var(--char-index) * 0.1s);
            animation-delay: calc(0.25s + var(--char-index) * 0.1s);
    transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
  }
  .text--enter [data-scroll='out'] .char {
    opacity: 0;
    -webkit-transform: translate(0, -150%);
            transform: translate(0, -150%);
  }
  .text--enter .char {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .text--random [data-scroll='out'] .char {
    -webkit-transform: translateX(-109%) translateY(-81%);
            transform: translateX(-109%) translateY(-81%);
  }
  .more {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 64px;
    padding-bottom: 380px;
    margin: 33px;
    color: #fff;
  }
  .moreButton:hover{
    width: 136px;
    height:136px;
    font-size: 20px;
    color:#fcfcfc;
  }

  .material-icons.md-18-jumbo {
    font-size: 165px;
  }
  .textCorosol{
    display: flex;
    width: 100%;
    flex-direction: column;
    transform: translateY(-50%);
    white-space: nowrap;
    left:400px; 
    
 
  }
  .space{
    width:100%;
    height:20vh;
  }
  i{
    cursor: pointer;
  }
.play{
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    font-size: 205px;
    line-height: 230px ;
    color:white;

    justify-content: space-evenly;
    /* min-width: 100%; */
    transform: translate(-50%,-50%);
    overflow: hidden;
    left: 50%;
    /* padding-left: 81px; */
    width: 100%;
}
.play span{
    display: block;
    text-align: center;
    -webkit-text-stroke: 1px white;
    white-space: nowrap;
    height: 35vh;
    /* min-width: 100%; */
    animation: play 30s linear infinite;
 
}
@keyframes play {
    0%{
        transform:translate(0,0);
    }
    100%{
        transform:translate(-40%,0) ;
    }
}
.showreel{
    position: relative;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    /* min-width: 100%; */
    transform: translate(-50%,-50%);
    overflow: hidden;
    left: 50%;
    /* padding-left: 81px; */
    width: 100%;
   color: rgb(89, 86, 86);
        font-size: 205px;
        line-height: 230px ;
        display:flex;
        justify-content: space-evenly;
        

}
.showreel span{
    display: flex;
    text-align: center;
    -webkit-text-stroke: 1px rgb(136, 132, 132);
    white-space: nowrap;
    /* min-width: 100%; */
    animation: showreel 30s linear infinite;

}
@keyframes showreel {
    0%{
        transform:translate(0,0);
    }
    100%{
        transform:translate(40%,0) ;
    }
}
  .titleName{
    font-size: 25px;
    color: #b6b3b3;
  }
  .title1{
    font-size: 75px;
    color: #fcfcfc;
    padding-top: 10px;
    padding-bottom: 47px;
}

  
  .titleShade{
    color:#4b4949;
  }
  .content{
    display: flex;
    gap: 61px;
    font-size: 21px;
    color: #777575;

  }
.discription{
    display: flex;
    flex-direction: column;
    margin: 0px 160px;
    padding: 0px 150px 0px 90px;

}
.ourculture{
  font-size: 38px;
    color: #fcfcfc;
    /* float: right; */
    display: flex;
    width: 73%;
    position: relative;
    top: -34px;
    justify-content: flex-end;

}
.underscore{
  position: relative;
    color: #fd5a1e;
    top: -17px;
    left: 18px;
}
.firstpara{
  width:382%;
}
.hifenImg{
  color: #fd5a1e;
  display: flex;
  width: 100%;
  transform: scale(45.5);
  line-height: 0;
  top: -69px;
  font-weight: 800;
  font-size: 466px;
  left: 12px;
  height: 100px;
  position: relative;
  transform: skew(-19deg, -16deg);
  justify-content: center;
}


/* 
.hifenPeople{
  transform: rotateX(30deg);
} */
.people{
  padding-top: 40px;
  display: flex;
  overflow: hidden;

}
.people1{
  left: -346px;
  position: relative;
}
.people2{
  position: relative;
  left: -279px;
}
.people3{
  position: relative;
  left:-237px;
}
.brandingproduct{
  display: flex;
    gap: 40px;
    width: 100%;
    margin: 50px 90px 0px 90px;
    align-items: center;
    padding-top: 120px;
    justify-content: space-evenly;
    transition:0.5sec;
    transform-origin:left;
    transform:scaleX(1);
  animation: ani 0.5s ease-in;
  transition-delay: 2s;
  animation-delay: 2s;

}
/* .brandingproduct div,
.brandingproduct span{
  opacity: 0;
  margin: 0;
} */
@keyframes ani {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translate(1.2);
  }
}
.brandtitle{
  font-size: 59px;
}
.brandtitleshading{
  color:#777575;
}
.branddiscription{

  font-size: 22px;
  color: #4b4949;
  padding-right: 113px;
  width: 27%;

}
.brandinfo{
  color:black;
  font-size: 26px;
}
.logoinfo{
  display: flex;
  flex-direction: column;
}
.fotter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 84px;

}
.about{
  font-size: 20px;
  color: #4b4949;
}
.work{
  font-size: 100px;
  color: #000;
}
.brunoTitle{
  font-size: 100px;
  color: #fd5a1e;
}
.brunoicon{
  width: 72px;
  position:relative;
  height: 72px;

  top: 42px;
  display: flex;

  border-radius: 50%;
  background-color: #fd5a1e;
  color: #fcfcfc;
  align-items: center;
  justify-content: center;
}
.bruno{
  display: flex;
  gap:10px;

}
#icon {
  font-size:50px;
  font-weight: 10;
  text-decoration-thickness: 10px;

  transform: rotate(-45deg);
}
.brunoicon:hover{
 transform: rotate(45deg);

}
.parallax-container {
  width: 100%;
  min-height: 500vh;
  padding-top:50px;
  padding-left:120px;
}


/* .left-image, .right-image {
  position: absolute;
  top: 0;

} */

/* .left-image {

  position: fixed;
  top: 11%;
  left: -29%;
  margin-top: -50px;
  margin-left: -50px;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
  
}

@keyframes rotate {
  to {
    transform: translateX(80%) translateY(0);
  }
} */

.text{
  display:flex;
  position:fixed;
  justify-content:center;

  padding-top:40px;
  opacity:1;
  font-size:120px;
  animation: text 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes text {
  to {
    
    transform:scale(0.25);
    opacity:0;
   
  }
}

.leftimg {
position :fixed;
  
left:-100px;
  top:-20px;
  margin-top: -50px;
  margin-left: -50px;
 width: 150px;
  height: 180px;
  background:black;

  animation: leftimg 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes leftimg {
  to {
    transform:translateX(100%) translateY(0);
    transform:scale(1.5);
    width:250px;
    hight:380px;
    top:140px;
    left:400px;
  }
}
.rightimg {
position :fixed;
  
right:-150px;
  top:-20px;
  margin-top: -50px;
  margin-left: -50px;
 width: 150px;
  height: 180px;
  background:black;

  animation: rightimg 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rightimg {
  to {
    transform:translateX(-100%) translateY(0);
    transform:scale(1.5);
    width:250px;
    hight:380px;
    top:140px;
    right:400px;
  }
}



/* .right-image { */
  /* right: -10%; */
  /* animation-name: rightimg;
}

.left-image, .right-image {
  width: 450px;
  height: 580px;
  object-fit: cover;
  opacity: 0.8;
} */

/* @scroll-timeline {
  source:selector(.left-image)
} */
/* 
.left-image {
  transform: translateX(-20%) translateY(50%);
}

.right-image {
  transform: translateX(20%) translateY(50%);
} */
/* @keyframes leftimg{
  0%{
    transform: translateX(-80%) translateY(0);
  }
  100%{
    transform: translateX(80%) translateY(0);
  }
}
@keyframes rightimg{
  
  0%{
    transform: translateX(80%) translateY(0);
  }
  100%{
    transform: translateX(-80%) translateY(0);
  }


} */

